<!DOCTYPE html>
<head>
  <meta http-equiv="cache-control" content="no-cache"/>
  <title>Upload a Noisebyte!</title>
  <link rel="stylesheet" type="text/css" href="static/main.css"/>
</head>
<body>
  <h1>Upload a Noisebyte!</h1>
  <p id="description">Noisebytes are short little videos about some cool hacking you're doing. They're composited together with intros, outros, and lower thirds, then uploaded to the Noisebridge Youtube channel. Click <a href="https://www.youtube.com/watch?v=9oPUGprV7l4&t=0s&index=2&list=PLKeFAK1EcPdp-lnptPyCe_pdvU2T4JR6H">here</a> for a demo of what gets produced.</p>

  <form method="post" enctype="multipart/form-data">
    <p>
      <label for="title">Title:</label>
      <input name="title" id="title" maxlength=31 placeholder="length < 32">
    </p>
    <p>
      <label for="author">Author:</label>
      <input name="author" id="author" maxlength=31 placeholder="length < 32">
    </p>
    <p>
      <input type="file" name="file">
    </p>
    <div id="submit_spacer"> <input type="submit" value="Upload"> </div>
  </form>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <h1>Messages:</h1>
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
</body>
</html>
